#ignore local settings file
php/settings.php

#ignore local challenge-api settings file
php/challenge-api/oAuth1/twitter-settings.php
php/challenge-api/oAuth2/facebook-settings.php

#ignore local challenge-widget settings file
python/challenge-widget/settings.py

#ignore local sso-api settings file
php/sso-api/oAuth1/twitter-settings.php
php/sso-api/oAuth2/facebook-settings.php

#ignore composer's vendor folder
php/background-check/vendor/
php/challenge-api/vendor/
php/challenge-widget/vendor/
php/gateway-signed/vendor/
php/sso-api/vendor/
php/sso-widget/vendor/

#ignore .pyc files
*.pyc
