<?php

$facebook = array(
	'key' => '',
	'secret' => ''
);

if (empty($facebook['key']))
	die('Please insert proper $facebook[\'key\'] configuration in ' . __FILE__);

if (empty($facebook['secret']))
	die('Please insert proper $facebook[\'secret\'] configuration in ' . __FILE__);
