<?php

// API Credentials
// Create at https://dashboard.veridu.com
$veridu = array(
	// API Key (from https://dashboard.veridu.com/api)
	'client' => '',
	// API Secret (from https://dashboard.veridu.com/api)
	'secret' => '',
	//more info: https://veridu.com/wiki/Version
	'version' => '0.3'
);

if (empty($veridu['client']))
	die('Please insert proper $veridu[\'client\'] configuration in ' . __FILE__);


if (empty($veridu['secret']))
	die('Please insert proper $veridu[\'secret\'] configuration in ' . __FILE__);


if (empty($veridu['version']))
	die('Please insert proper $veridu[\'version\'] configuration in ' . __FILE__);
